<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.495772632308-otbv49g5gm51npqko5vj8jh2b4q8m48u</string>
			</array>
			<key>NSCalendarsFullAccessUsageDescription</key>
			<string>We need full access to your calendar to create and manage payment reminders for your debts.</string>
			<key>NSCalendarsUsageDescription</key>
			<string>We need access to your calendar to set payment reminders for your debts.</string>
		</dict>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>We need access to your calendar to add payment reminders</string>
</dict>
</plist>
